@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #50a060;
    font-family: "Krona One", sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    background-color: #454545;
    color: #50a060;
    padding: 20px 0;
}

.footer p {
    text-align: center;
    margin: 0;
}

/* FIXED TO THE TOP*/
/* header {
    position: fixed;
    width: 100%;
    height: 100px;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #454545;
    color: #50a060;
}

.logo-img {
    width: 400px;
    margin: 0.5em;
}

/* NAV LINK */
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    margin: 20px;
}

.navbar-links li a {
    text-decoration: none;
    color: #50a060;
    padding: 10px;
    display: block;

    font-size: 15px;
}

.navbar-links li a:hover {
    background: #50a060;
    color: #454545;
}

.enter-links {
    display: flex;
    padding: 2rem;
}

.enter-links a {
    text-decoration: none;
    padding: 1rem;
}

.signup-btn {
    width: 100%;
    height: 55px;
    margin-right: 7px;
    border: none;
    border-radius: 5px;
    background-color: #f5e6e8;
    color: #50a060;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.login-btn {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #454545;
    background-color: #50a060;
    cursor: pointer;
}

/* BURGER BTN */
.toggle-btn {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: #50a060;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .enter-links.active {
        display: flex;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .enter-links {
        display: none;
        width: 100%;
    }
}

/* BANNER */
.banner-area {
    background-image: url(banner.png);
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 90vh;
    width: 100%;
}

/* BUTTON MIDDLE BANNER */
.btn-login-banner {
    position: absolute;
    top: 90%;
    right: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f5e6e8;
    color: #50a060;
    font-size: 30px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}

.btn-login-banner:hover {
    background-color: #454545;
}

.btn-login-banner a {
    text-decoration: none;
}

/* LOGIN */

.login-box {
    display: flex;
    justify-content: center;
    background-color: #454545;
    color: #f5e6e8;
    margin: 20px auto 20px auto;
    width: 300px;
    border-radius: 6px;
    padding: 0px 0px 40px 0px;
    border: #f5e6e8 4px solid;
    text-align: center;
    font-size: 20px;
}

.btn-submit-login {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #454545;
    background-color: #50a060;
    cursor: pointer;
}

/* SIGN UP */

.signup-box {
    display: flex;
    justify-content: center;
    background-color: #454545;
    color: #f5e6e8;
    margin: 20px auto 20px auto;
    width: 300px;
    border-radius: 6px;
    padding: 0px 0px 40px 0px;
    border: #f5e6e8 4px solid;
    text-align: center;
    font-size: 20px;
}

.btn-submit-signup {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #454545;
    background-color: #50a060;
    cursor: pointer;
}

.custom-input-style {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

/* ONCE LOGIN IN THEN HANDLE LOGIN INFO AND BUTTONS */

.logout-btn {
    /* width: 100%; */
    height: 55px;
    margin: auto 10px auto 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5e6e8;
    color: #50a060;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.enter-links h4 {
    color: #f5e6e8;
    font-weight: bold;
}

/* EXPENSES TABLE  */

.expenses-table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.expenses-table thead tr {
    background-color: #454545;
    color: #f5e6e8;
    text-align: left;
    font-weight: bold;
}

.expenses-table th,
.expenses-table td {
    padding: 12px 15px;
}

.expenses-table tbody tr {
    border-bottom: 1px solid #f5e6e8;
}

/* ???? MAKE THE EVEN ROWS COLORED  ???? */

.expenses-table tbody tr:nth-child(even) {
    background-color: rgba(43, 48, 44, 0.197);
}

.expenses-table tbody tr:nth-child(odd) {
    background-color: rgba(61, 179, 84, 0.345);
}

.expenses-table tbody tr:last-of-type {
    border-bottom: 2px solid #454545;
}

/* EXPENSES PAGE */

.welcome {
    text-align: center;
    color: #f5e6e8;
}

.new-user {
    text-align: center;
    color: #f5e6e8;
}

.btn-expenses {
    display: flex;
    justify-content: space-evenly;
}

.expenses {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span-income {
    color: #f5e6e8;
}

.span-expenses {
    color: #fe5e41;
}

.span-balance {
    color: #f5e6e8;
}
.form-summary-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.summary {
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    line-height: 40px;
}

.date-form {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #454545;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    max-width: 400px;
}

.input_date {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submit-date {
    height: 40px;
    margin: auto 10px auto 10px;
    border: none;
    border-radius: 5px;
    background-color: #5db7de;
    color: #f5e6e8;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.form-row label {
    margin-right: 10px;
}

.dashboard-btn {
    display: inline-block;
    height: 55px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fe5e41;
    color: #f5e6e8;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none; /* Move text-decoration from .dashboard-btn a to .dashboard-btn */
    line-height: 55px; /* Vertically center the text inside the button */
    padding: 0 20px; /* Adjust padding for horizontal spacing */
}

.add-btn {
    display: inline-block;
    height: 55px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5db7de;
    color: #f5e6e8;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    line-height: 55px;
    padding: 0 20px;
}

.add-btn a {
    text-decoration: none;
}

/* DASHBOARD POSITION  */

.btn-expenses-back {
    height: 55px;

    border: none;
    border-radius: 5px;
    background-color: #5db7de;
    color: #454545;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.btn-expenses-back a {
    text-decoration: none;
}
.container-dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-dash {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dash-header {
    text-align: center;
    flex: 1;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px; /* Gap between items */
    min-height: 300px;
    width: 100%;
    position: relative;
}

.graph-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
    .dashboard {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
    }

    /* Reset the width for graphs to stack them vertically */
    .income_vs_category,
    .expenses_by_date {
        flex-basis: 100%;
    }
}
/* GRAPH STYLE */
.chart {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #454545;
    border-radius: 1rem;
    background-color: #f5e6e8;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}

/* WEEKLY TABLE */
.table-weekly {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.table-weekly thead tr {
    background-color: #454545;
    color: #f5e6e8;
    text-align: left;
    font-weight: bold;
}

.table-weekly th,
.table-weekly td {
    padding: 12px 15px;
}

.expenses-table tbody tr {
    border-bottom: 1px solid #f5e6e8;
}

/* ADD EXPENSES */

.add-expense {
    display: flex;
    justify-content: center;
    background-color: #454545;
    color: #f5e6e8;
    margin: 20px auto 70px auto;
    width: 400px;
    border-radius: 6px;
    padding: 0px 0px 20px 0px;
    border: #f5e6e8 4px solid;
    text-align: center;
    font-size: 20px;
}

.add-btn-form {
    width: 100%;
    height: 55px;
    margin-right: 7px;
    border: none;
    border-radius: 5px;
    background-color: #50a060;
    color: #454545;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.edit-expenses {
    display: flex;
    justify-content: center;
    background-color: #454545;
    color: #f5e6e8;
    margin: 20px auto 20px auto;
    width: 400px;
    border-radius: 6px;
    padding: 0px 0px 20px 0px;
    border: #f5e6e8 4px solid;
    text-align: center;
    font-size: 20px;
}

.save-edit-form {
    height: 55px;
    margin-right: 7px;
    border: none;
    border-radius: 5px;
    background-color: #5db7de;
    color: #454545;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.delete-btn-form {
    height: 55px;
    margin-right: 7px;
    border: none;
    border-radius: 5px;
    background-color: #fe5e41;
    color: #454545;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

/* FIRST TIME ON EXPENSES PAGE */
.expenses-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-expenses-header {
    color: #f5e6e8;
}

.edit-delete-btn {
    display: inline-block;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5db7de;
    color: #f5e6e8;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    line-height: 40px;
    padding: 0 10px;
}
