{% extends 'base.html' %} {% block main %}

<div class="add-expense">
    <form action="/add_expense" method="POST">
        {{form.csrf_token}} {{ form.hidden_tag() }}
        <h3>Adding new expense</h3>
        <p>{{ form.date.label }} {{ form.date(class='custom-input-style') }}</p>

        {% if form.date.errors %}
        <ul class="errors">
            {% for error in form.date.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>
            {{ form.payee.label }} {{ form.payee(class='custom-input-style') }}
        </p>

        {% if form.payee.errors %}
        <ul class="errors">
            {% for error in form.payee.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>
            {{ form.category.label }} {{
            form.category(class='custom-input-style') }}
        </p>

        {% if form.category.errors %}
        <ul class="errors">
            {% for error in form.category.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>
            {{ form.description.label }} {{
            form.description(class='custom-input-style') }}
        </p>

        {% if form.description.errors %}
        <ul class="errors">
            {% for error in form.description.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <p>
            {{ form.amount.label }} {{ form.amount(class='custom-input-style')
            }}
        </p>

        {% if form.amount.errors %}
        <ul class="errors">
            {% for error in form.amount.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %} {{ form.add(class="add-btn-form") }}
    </form>
</div>
{% endblock%}
