<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='styles.css') }}"
        />

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Chart.js library for creating GRAPHS -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <title>Expenses Tracker</title>
    </head>
    <body>
        <div class="box-area">
            <header>
                <div class="wrapper">
                    <div class="logo">
                        <img
                            src="{{url_for('static', filename='logo-green-back.png')}}"
                            alt="logo"
                            class="logo-img"
                        />
                    </div>
                    <nav>
                        <a href="">How It Works</a>
                        <a href="">What You Get</a>
                        <a href="">About us</a>

                        {% if not session.name %}
                        <a href="/signup">Sign up</a>
                        <a href="/login">Login</a>
                        {% else %}
                        <h3>Logged in as {{ session.name }}</h3>
                        <a href="/logout">Logout</a>
                        {% endif %}
                    </nav>
                </div>
            </header>
        </div>
        {% block main %} {% endblock%}
    </body>
</html>
