{% extends 'base.html' %} {% block main %}
<div class="container-dash">
    <h1 class="dash-header">Dashboard</h1>
    <button class="btn-expenses-back"><a href="/expenses">Expenses</a></button>
</div>
<div class="dashboard">
    <div class="graph_container">
        <div class="income_vs_category chart">
            <canvas id="income_vs_category"></canvas>
        </div>

        <div class="expenses_by_date chart">
            <canvas id="expenses_by_date"></canvas>
        </div>
    </div>

    <div class="income_vs_expense chart">
        <canvas id="income_vs_expense"></canvas>
    </div>

    <!-- <table class="table-weekly">
        <thead>
            <tr>
                <th>Date</th>
                <th>Payee</th>
                <th>Total</th>
            </tr>
        </thead>

        <tbody>
            {% for date, payee, amount in weekly %}
            <tr>
                <td>{{date}}</td>
                <td>{{payee}}</td>
                <td>A${{ amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="total_summary">
        <p>Total Income (A$): {{total_income}}</p>
        <p>Total Expenses (A$): {{total_expense}}</p>
        <p>Net Balance (A$): {{net_balance}}</p>
    </div> -->
</div>
{% block javascript %}
<script>

    /* INCOME VS EXPENSES GRAPH */

    new Chart(document.getElementById("income_vs_expense"), {
        type: 'pie',
        data: {
        labels: ['income', 'expenses'],
            datasets: [{
                label: "Income Vs Expenses",
                data: [{{income_values | safe}}, {{expense_values | safe}}],
                backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                    '#B276B2', '#E16851', '#FB8267'],

                borderWidth: 1,
                hoverBorderColor: "black",
                hoverBorderWidth: 2,
                hoverBackgroundColor: 'rgba(154, 245, 140)',
                pointHoverRadius: 5
            }],
        },
        options: {
                title: {
                    display: true,
                        text: "Income Vs Expenses",
                            fontSize: 20,
                },
                legend: {
                    position: "right",
                        labels: {
                        fontColor: "gray"
                    },
                    display: true,
                },

                elements: {
                    hitRadius: 3,
                }
        }
    })




    new Chart(document.getElementById("expenses_by_date"), {
        type: "line",
        data:
        {
            labels: {{date_label | tojson | safe}},
            datasets: [{
                label: "Expenses Over Time",

                data: {{ amount_by_date | safe }},
                fill: false,
                borderColor: "rgb(75, 192, 192)",
                lineTension: 0.1
            }]
        },
        options: {}
    });



    /* MAKE THE GRAPH CLICKABLE */






    const canvas = document.getElementById("income_vs_category");
    const ctx = canvas.getContext('2d');

    const categoryChart = new Chart(ctx, {
        type: 'bar',
        data: {

            datasets: [{
                label: "Categories Expenses",
                data:{{chart_data | safe}},
                backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                    '#B276B2', '#E16851', '#FB8267'],
                borderWidth: 1,
                hoverBorderColor: "black",
                hoverBorderWidth: 2,
                hoverBackgroundColor: 'rgba(154, 245, 140)',
                pointHoverRadius: 5
            }],
        },
    options: {
            parsing: {
                xAxisKey: 'name',
                yAxisKey: 'expenses.category'
            },
            title: {
                display: true,
                    text: "Categories Expenses",
                        fontSize: 20,
        },
            legend: {
                position: "right",
                    labels: {
                    fontColor: "gray"
                },
                display: true,
        },

            elements: {
                hitRadius: 3,
        },
        }
    })


    function clickHandler(click){

        const points = categoryChart.getElementsAtEventForMode(click, 'nearest', {intersect: true}, true);

        if(points.length) {
            const selected_category = points[0]

            const category_link = categoryChart.data.datasets[0].data[selected_category.index].expenses.link;

            window.open(category_link)
        }
    }
    canvas.onclick = clickHandler;
</script>
{% endblock %} {% endblock%}
