{% extends 'base.html' %} {% block main %}
<h2>Sort by date</h2>

{% if results %}
<table>
    <tr>
        <th>Date</th>
        <th>Payee</th>
        <th>Description</th>
        <th>Total</th>
    </tr>
    {% for date, payee, description, amount in results %}
    <tr>
        <td>{{date}}</td>
        <td>{{payee}}</td>
        <td>{{description}}</td>
        <td>A${{ amount }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<form action="/sort" method="POST">
    {{form.csrf_token}} {{ form.hidden_tag() }}

    <p>{{ form.start_date.label}} {{ form.start_date }}</p>

    {% if form.start_date.errors %}
    <ul class="errors">
        {% for error in form.start_date.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>{{ form.end_date.label}} {{ form.end_date }}</p>

    {% if form.end_date.errors %}
    <ul class="errors">
        {% for error in form.end_date.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %} {{ form.submit }}
</form>

{% endif %} {% endblock%}
